/* All */
body {
  background-color: #f3f3f3;
}

/* Header */
header {
  position: fixed;
  z-index: 100;
  background-color: white;
  top: 0;
  left: 0;
  display: flex;
  border: 1px solid black;
  height: 85px;
  width: 100%;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #4a4a4a;
}
.logo {
  margin-right: auto;
  margin-left: 30px;
  font-size: 24px;
  font-family: "Roboto Mono";
}

header ul li {
  display: inline-flex;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.6;
  margin-right: 30px;
}
.icon {
  margin-bottom: -2px;
  width: 16px;
}

/* Main */

/* SingUp section */
#SingUp {
  margin-top: 85px;
  width: 100%;
  height: 696px;
  background-image: url("images/banner-landingpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#SingUpDiv {
  position: relative;
  background-color: #9dc20a;
  color: white;
  border: 1px solid #979797;
  border-radius: 4px;
  text-align: center;
  left: 100px;
  top: 100px;
  display: inline-block;
}

.cursive {
  font-family: "Damion", cursive;
  margin-top: 32px;
  margin-bottom: 0;
}
#format {
  margin-top: 0;
  font-size: 50px;
  font-family: "Rubik";
  line-height: 1.4;
  margin-bottom: 12px;
}
#email {
  margin-top: 0px;
  font-size: 20px;
  font-family: "Roboto";
  line-height: 1.4;
  margin-bottom: 26px;
  margin-left: 10px;
  max-width: 500px;
}
button {
  width: 408px;
  height: 68px;
  background-color: #4a4a4a;
  border-radius: 4px;
  margin: 0px 80px 56px 80px;
}
#join {
  color: white;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.4;
}

#Features {
  display: flex;
  text-align: center;
  justify-content: center;
}
#Features article {
  margin-top: 64px;
  height: 635px;
  width: 628px;
  background-color: white;
}
#Features #Fcamera {
  margin-right: 19px;
}
#Features #Scamera {
  margin-left: 19px;
}
#Features img {
  height: 65%;
  width: auto;
  margin: 32px 32px 40px 32px;
}
#Features h2,
#Features h3 {
  color: #4a4a4a;
  font-family: "Roboto";
  line-height: 1.2;
}
#Features h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}
#Features h3 {
  font-size: 16px;
  font-weight: 300;
}
#Features #Scamera h3 {
  margin: 0 100px;
}

#Filters {
  margin-top: 46px;
  padding-top: 64px;
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding-bottom: 64px;
}
#Filters h2 {
  margin: 0;
  font-size: 36px;
  font-family: "Roboto";
  font-weight: 700;
}
#Filters h3 {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 80px;
}
#Filters #imag {
  display: inline-flex;
  justify-content: space-between;
}
#Filters #imag img {
  width: 24.5%;
}
#Filters #imag img:first-child {
  margin-left: 1%;
}
#Filters #imag img:last-child {
  margin-right: 1%;
}

#last {
  padding: 80px 0;
  line-height: 1.1;
  text-align: center;
}
#last #its {
  margin-right: 30px;
  font-size: 30px;
  font-family: "Palatino";
  font-style: italic;
  color: #4a4a4a;
}

/* Footer */
footer {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: #9b9b9b;
  color: white;
  height: 62px;
  font-size: 12px;
  font-family: "Roboto";
}
footer .copyright {
  margin-left: 32px;
  margin-right: auto;
}
footer .location {
  margin-right: 32px;
}
